.form-control {
  border-color: #D0D9E5;
  }
footer.footer {
  background-color: #16407D;
}
.shop_order_shipping_title {
  color: #16407D;
  font-family: 'Open Sans', sans-serif;
}

#shop_order_form h2 {
  font-weight: bold;
  font-size: 15px;
  text-align:left;
}

.new_form span label, #shop_order_form label[for=shop_order_comment] {
  font-family: 'Open Sans', sans-serif;
  color: #16407D;
  font-size: 13px;
}
#country_list {
  display: none;
}
footer.footer h3 {
  text-align: center;
}
