.form-control {
  border-color: #D0D9E5;
  }
footer.footer {
  background-color: #16407D;
}
.shop_order_shipping_title {
  color: #16407D;
  font-family: 'Open Sans', sans-serif;
}


#country_list {
  display: none;
}

/* @media (max-width: 1024px)
header.sticky.stuck > .inner > .container.group */
.container .group {
  border-bottom: 0px;
}

.header .inner {
  border: 0px;
}

.container.group {
  border-bottom: 1px solid #D0D9E5;
} 

.text.form-control {
  height: 42px;
}

/*copyright*/
.copyright {
  color: red;
  /*display: none;*/
}
